/* Webfont: Pulso-Regular */
@font-face {
    font-family: 'Pulso';
    src: url( 'https://somostelecom.com.ar/static/fonts/Pulso-Regular.eot'); 
    src: url( 'https://somostelecom.com.ar/static/fonts/Pulso-Regular.eot?#iefix') format('embedded-opentype'),
         url( 'Pulso-Regular.woff2') format('woff2'), 
         url( 'Pulso-Regular.woff') format('woff'), 
         url( 'Pulso-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

/* Webfont: Pulso-Light */
@font-face {
    font-family: 'Pulso';
    src: url( 'https://somostelecom.com.ar/static/fonts/Pulso-Light.eot'); 
    src: url( 'https://somostelecom.com.ar/static/fonts/Pulso-Light.eot?#iefix') format('embedded-opentype'),
         url( 'Pulso-Light.woff2') format('woff2'), 
         url( 'Pulso-Light.woff') format('woff'), 
         url( 'Pulso-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
}

